*{
	padding: 0px;
	margin:0px;
}
.khung{
	width:100%;
	height: 1350px;
	background-image: url('image/bg.jpg');
}
.header{
	width: 100%;
	height: 200px;

	
}
.header ul li{
	float: right;
	list-style: none;
	width: 100px;
	height: 50px;

	


}
.header ul li a{
	text-decoration: none;
	font-size: 20px;
	position: relative;
	top: 60px;
	right: 200px;
	width: 80px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color:black;
	clear: both;
	font-family: 'Podkova', serif; 


	

}
.header ul li a:hover{
	color:green;
	background-color: #DDDDDD;
}
.header p{
	font-size: 25px;
	position: absolute;
	top: 50px;
	left: 55px;
    font-family: 'Lemonada', cursive;
}
.menu-left{
	width: 20%;
	height: 1100px;
	float: left;
	

}
.menu-left ul li {
	width: 80%;
	height: 50px;
	list-style: none;
	margin-left: 20%;
	

	
}
.menu-left ul li a{
	text-decoration: none;
	color:#A4AFAE;
	font-size: 20px;
	font-family: 'Podkova', serif;


}
.menu-left ul li a:hover{
	color:red;
	
}
.content{
	width: 60%;
	height: 1100px;

	float: left;
}
.anh{
	width: 30%;
	height:300px;
	position: relative;
	display: inline-block;
	margin-left: 15px;
	margin-top:15px;
	border-radius: 15px;
    


	

}
.anh img {
	width: 100%;
	height: 250px;
	border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;



}
#ten{
	background-color:#EEEEEE;
	width: 100%;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
    font-family: 'Andika', sans-serif;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

}
#ten1{
	width: 100%;
	height: 50px;
	font-size: 13px;
	background-color: #444444;
	line-height: 25px;
	position: absolute;
	bottom: 0px;
	opacity: 0.9;
	color:white;
	border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

	
}
#ten2{
	width: 100%;
	height: 60px;
	font-size: 13px;
	background-color: #444444;
	line-height: 25px;
	position: absolute;
	bottom: 0px;
	opacity: 0.9;
	color:white;
	border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

	
}

.footer{
	width: 100%;
	height: 50px;
	clear: both;

}
.footer ul li{
	float: left;
	
	height: 20px;
	list-style: none;

}
#a3{
	width: 200px;
	margin-left: 20px;

}
#a2{
	width: 80px;
}
#a1{
	width: 50px;
}
